@charset "utf-8";


body  {


    	background: url(/images/frontend/newbg_new.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


 