@charset "utf-8";

body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background:url(/customer/images/campsbay.jpg);
    background-position: center top;
}

html, body{
  width:100%;
  height:100%;
}

/*------------------------------------------------------------------main wrapper*/
/*
.clientLogo{
  width:100%;
  margin:0 auto 0 auto;
  background:url(/images/frontend/cellcLogo.gif) right bottom no-repeat;
  height:70px;
  float:left;
  margin-top:10px;
}
*/
